@import '../css/bootstrap.css';
@import "bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Noto+Serif+SC:wght@200..900&display=swap');


.vr {
  color: #A49371;
}

.noto-serif-sc {
  font-family: "Noto Serif SC", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.noto-sans-sc {
  font-family: "Noto Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.hanzi-spacing {
  margin-right: 0.15em;
}

.tone-first {
  color: rgb(255, 82, 82) !important;
}

.tone-second {
  color: rgb(92, 255, 87) !important;
}

.tone-third {
  color: rgb(161, 47, 255) !important;
}

.tone-fourth {
  color: rgb(255, 87, 205) !important;
}

.nav-link:hover {
  color: white !important;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
}

.message {
  padding: 8px;
  margin: 4px 0;
  border-radius: 4px;
}

.message.user {
  align-self: flex-end;
}

.message.system {
  align-self: flex-start;
}

.chat-input {
  resize: none;
}

/* Table design */

.table {
  font-size: 0.95rem;
}

.table th {
  font-weight: bold;
}

.table .text-decoration-none {
  color: white;
  font-weight: 500;
}

.table .text-decoration-none:hover {
  color: #0071eb !important;
  text-decoration: underline;
}

.trash-button:hover {
  color: #b11b1b !important;
}

/* Root design */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
  overflow-y: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding-bottom: 20px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media(min-width: 576px) {
  .rating-buttons {
    width: 350px;
  }
}

@media(max-width: 576px) {
  .rating-buttons {
    width: 75%;
  }
}
